/* #region common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Nunito', sans-serif;
}

:root{
    --site-primary: #0084fd;
    --site-secondary: #b5ddff;
    --site-l-purple: #9792e4;
    --site-orange: #fdc15f;
    --site-white: white;
    --site-dark: #333333;
}

button{
    background: none;
    border: none;
}

img{
    max-width: 100%;
    display: block;
}

p{
    line-height: 1.8;
}

/* #endregion common */

/* #region utility */
.container{
    width: 1140px;
    margin: auto;
}

.cnt-flex-end{
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

[class^=col-]{
    padding: 1rem;
}

.col-3{
    width: calc((100% / 12) * 3);
}

.col-4{
    width: calc((100% / 12) * 4);
}

.col-6{
    width: 50%;
}

.col-8{
    width: calc((100% / 12) * 8);
}

.col-9{
    width: calc((100% / 12) * 9);
}
/* #endregion utility */

/* #region header */
#header{
    background: var(--site-primary);
    color: var(--site-white);
    position: fixed;
    width: 100%;
    padding: 1rem;
    z-index: 1;
}

#header button{
    background: var(--site-white);
    padding: .25rem .75rem;
    border-radius: 1.5rem;
    font-size: 1rem;
}

#header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header .menu{
    display: flex;
    align-items: center;
}

#header ul{
    display: flex;
}

#header li{
    margin-left: 2rem;
}

#header .hamburger .line{
    width: 20px;
    height: 3px;
    background: var(--site-white);
    margin: .25rem 0;
    border-radius: .25rem;
    display: none;
}
/* #endregion header */

/* #region main */
.demo{
    padding: 6.5rem 0;
}

.demo-card{
    height: 100%;
    background: var(--site-secondary);
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    & .col-6{
        padding: 0;
    }
}

.demo-app{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0;
}

.demo-card h4{
    font-size: 1.2rem;
    font-weight: 900;
    color: var(--site-primary);
    text-align: center;
    margin-bottom: 1.5rem;
}

.demo-text{
    text-align: left;
    & h4{
        text-align: left;
    }
}

.demo-card button{
    background: var(--site-primary);
    color: var(--site-white);
    font-weight: bold;
    padding: .5rem 2rem;
    border-radius: 1rem;
    letter-spacing: .1rem;
    margin-top: 2rem;
    & i{
        margin-right: .5rem;
    }
}

.demo-img{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.demo-card img{
    width: 250px;
}

.symbol i{
    width: 100%;
    text-align: center;
    font-size: 4rem;
    color: var(--site-primary);
    margin-bottom: 1.5rem;
}

.planning{
    padding: 6.5rem 0 3rem 0;
    background: var(--site-l-purple);
    color: var(--site-white);
    & .container{
        padding: 0 10rem;
    }
    & h3{
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }
    & .img-plan1{
        margin-bottom: 7rem;
    }
    & [class^=col-]{
        padding: 2rem;
    }
    & .row{
        margin: 0 -2rem;
    }
}

.planning-card{
    background: var(--site-white);
    border-radius: 3rem;
    padding: 2rem;
    color: var(--site-dark);
    text-align: center;
    & .partners-img{
      width: 50px;
      aspect-ratio: 1;  
    }
    & h4{
        font-size: 1rem;
        font-weight: 900;
        margin: 1rem 0;
    }
    & p{
        font-style: italic;
        margin-bottom: 2rem;
    }
    & button{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        padding: 1rem;
        background: var(--site-l-purple);
        
    }
}

.partners{
    padding: 3rem;
    padding-bottom: 4rem;
    text-align: center;
    & h4{
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 2rem;
        color: var(--site-l-purple)
    }
    & p{
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
    }
}

.partner-card{
    padding: 2rem 1rem;
    background: var(--site-l-purple);
    border-radius: 3rem;
    color: var(--site-white);
    text-align: left;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    & img{
        width: 200px;
        aspect-ratio: 1;
        border-radius: 50%;
        object-fit: cover;
    }
    & i{
        font-size: 1.5rem;
    }
    & p{
        margin-bottom: 2rem;
    }
    & span{
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: .1rem;
    }
}

.partner-text{
    margin-left: 3rem;
}

.benefits{
    padding: 4rem;
    padding-bottom: 3rem;
    background: var(--site-l-purple);
    color: var(--site-white);
    text-align: center;
    & h4{
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 2rem;
    }
}

.benefits-card{
    padding: 2rem;
    background: var(--site-white);
    border-radius: 1rem;
    text-align: left;
    & h2, h4{
        color: var(--site-l-purple);
        font-size: 1.5rem;
    }
    & h2{
        font-size: 4rem;
    }
    & p{
        color: black;
        margin-bottom: 1rem;
    }
    & button{
        background: var(--site-l-purple);
        color: var(--site-white);
        font-weight: bold;
        letter-spacing: .1rem;
        padding: .5rem 2rem;
        border-radius: 2rem;
    }
}

.about-us{
    padding: 4rem;
    padding-bottom: 6rem;
    & .container{
        max-width: 1050px;
    }
    & h2, h4{
        color: var(--site-l-purple);
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    & h2{
        font-size: 4rem;
    }
    & p{
        margin-bottom: 2rem;
    }
}

.about-us-text{
    width: calc(100% - 230px);
    padding-right: 4rem;
}

.about-us-card{
    width: 230px;
    position: relative;
    & >i{
        color: var(--site-l-purple);
        font-size: 5rem;
        position: absolute;
        top: 0;
        right: 0;
    }
    & img{
        aspect-ratio: 1;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 1rem;
    }
    & button{
        background: var(--site-l-purple);
        color: var(--site-white);
        padding: 0.25rem 1rem;
        border-radius: 2rem;
        & i{
            margin-right: .5rem;
        }
    }
}

.pricing{
    background: var(--site-l-purple);
    text-align: center;
    padding: 3rem 0;
    color: var(--site-white);
    & .container{
        max-width: 530px;
    }
    & .get-started{
        text-transform: uppercase;
        letter-spacing: .1rem;
        opacity: 50%;
        margin-bottom: 1rem;
    }
    & h2, h3{
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
    & h2{
        font-size: 5rem;
        color: var(--site-orange);
    }
    & button{
        background: var(--site-white);
        border-radius: 2rem;
        color: var(--site-l-purple);
        font-weight: bold;
        letter-spacing: .1rem;
        padding: 1.5rem 4rem;
        margin: 1.5rem 0;
    }
    & a{
        color: var(--site-white);
    }
}
/* #endregion main */

/* #region footer */
#footer{
    padding: 2rem;
    background: var(--site-dark);
    color: var(--site-white);
    text-align: center;
    & .container{
        max-width: 530px;
    }
    & a{
        color: var(--site-l-purple);
    }
    & .privacy{
        margin-top: 4rem;
    }
}
/* #endregion footer */

/* #region debug */

.debug #header{
    height: 75px;
}

.debug .container{
    background: red;
    border: 3px dotted white;
    height: 100%;
}

.debug .row{
    background: orange;
}

.debug [class^=col]{
    background: lightskyblue;
    border: 3px dotted white;
    height: 345px;
}

.debug #header {
    background: var(--site-primary);
    height: 75px;
}

.debug .demo{
    background: gray;
    height: 870px;
}

.debug .planning{
    background: lightgray;
    height: 945px;
}

.debug .partners{
    background: gray;
    height: 1340px;
}

.debug .benefits{
    background: lightgray;
    height: 112px0;
}

.debug .about-us{
    background: gray;
    height: 880px;
}

.debug .pricing{
    background: lightgray;
    height: 630px;
}

.debug #footer{
    height: 220px;
}

/* #endregion debug */

/* #region media query*/
@media screen and (max-width: 1220px) {
    #header .menu{
        display: none;
    }
    #header .hamburger .line{
        display: block;
    }
    .container{
        width: 100%;
        padding: 0 1rem;
    }
    .demo .row{
        margin: auto;
    }
    .planning .container{
        padding: 0 2rem;
    }
    .partners{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .benefits{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media screen and (max-width: 968px) {
    .col-6-md{
        width: 50%;
    }
    .col-12-md{
        width: 100%;
    }
    .demo-img{
        justify-content: flex-start;
        margin-top: 2rem;
    }
}
/* #endregion media query*/