/* #region common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root{
    --site-primary: #0084fd;
    --site-secondary: #b5ddff;
    --site-l-purple: #9792e4;
    --site-white: white;
    --site-dark: #333333;
}

/* #endregion common */

/* #region utility */
.container{
    max-width: 1140px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

[class^=col]{
    padding: 1rem;
}

.col-4{
    width: calc((100% / 12) * 4);
}

.col-8{
    width: calc((100% / 12) * 8);
}

/* #endregion utility */

/* #region header */
#header{
    position: fixed;
    width: 100%;
}

#header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header ul{
    display: flex;
}

#header li{
    margin-left: 1rem;
}
/* #endregion header */

/* #region main */
.demo{
    padding: 6.5rem 0;
}
/* #endregion main */

/* #region footer */

/* #endregion footer */

/* #region debug */
.debug #header{
    background: var(--site-primary);
    height: 75px;
}

.debug .container{
    background: red;
    border: 3px dotted white;
    height: 100%;
}

.debug .row{
    background: orange;
}

.debug [class^=col]{
    background: lightskyblue;
    border: 3px dotted white;
    height: 345px;
}

.debug #header {
    background: var(--site-primary);
    height: 75px;
}

.debug .demo{
    background: gray;
    height: 870px;
}

/* #endregion debug */