/* #region common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #endregion common */

/* #region utility */

/* #endregion utility */

/* #region header */

/* #endregion header */

/* #region main */

/* #endregion main */

/* #region footer */

/* #endregion footer */

/* #region debug */

/* #endregion debug */